{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/items_form.css' %}">
{% endblock %}

{% block content %}
<div class="form-wrapper" style="margin-top: 100px;">
    <div class="form-card">
        <h2 class="form-title">Complete Your Details</h2>
        <form method="post" enctype="multipart/form-data" class="styled-form">
            {% csrf_token %}
            {{ forms.as_p }}
            <button type="submit" class="submit-btn">Submit</button>
        </form>
    </div>
</div>
{% endblock %}